.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.ow l -carousel {
    di s play: none;
    position: relati v e;
    wi d th: 100%;
    -m s -touch-action: pan -y
}

.owl -ca r ousel .o w l -wrapper {
    display: none;
    pos iti o n: relat i v e;
    -webkit-transform: tran s la t e3d(0, 0, 0)
}

.owl - carousel .owl-wrap per-outer {
    overflow: hidde n;
    po s ition: relative;
    wid t h: 100%
}

.ow l -carousel .owl-wra pper-outer.autoHeight {
    -w e bkit-transition: h eight 500ms ease-in-out;
    -m o z-transition: heig ht 500ms ease-in-out;
    -ms - transition: height 500ms ea se-in-out;
    -o-transition: heigh t 5 0 0ms ease-in-out;
    tr a nsition: height 50 0ms ease-in-out
}

.owl - carousel .owl-item {
    float: left
}

.owl -con trol s . o wl-page,
.owl-controls .o w l-b utto n s div {
    cur sor: poi nter
}

.owl-controls {
    -w e bkit-user-select: none;
    -k h tml-user-select: n one;
    -m o z-user-select: non e;
    -ms - user-select: none;
    user-select: no n e;
    -w e bkit-tap-highlight -color: rgba(0, 0, 0, 0)
}

.grabbing {
    cur s or: url(grabbing.pn g) 8 8, move
}

.owl-carousel . ow l -wrapper,
.owl -ca r ousel .owl-item {
    -we bkit -bac kfa c e-visibility: hidd en;
    -mo z-ba ckf a ce-visibility: hidden;
    -ms - backface-visibilit y: hidden;
    -webkit-transform: tran s la t e3d(0, 0, 0);
    - m oz-transform: tran slate3d(0, 0, 0);
    - m s-transform: trans late3d(0, 0, 0)
}